In [1]:
import pandas as pd

In [29]:
good_or_evil_train = pd.DataFrame({'name': ['batman','robin','alfred','penguin','catwoman','joker'], 
                                   'sex' : ['male','male','male','male','female','male'],
                                   'mask' : ['yes','yes','no','no','yes','no'],
                                   'cape' : ['yes','yes','no','no','no','no'],
                                   'tie' : ['no','no','yes','yes','no','no'],
                                   'ears' : ['yes','no','no','no','yes','no'],
                                   'smokes' : ['no','no','no','yes','no','no'],
                                   'class' : ['good','good','good','bad','bad','bad']}).set_index('name')
good_or_evil_test = pd.DataFrame({'name': ['batgirl','riddler'], 
                                   'sex' : ['female','male'],
                                   'mask' : ['yes', 'yes'],
                                   'cape' : ['yes','no'],
                                   'tie' : ['no','no'],
                                   'ears' : ['yes','no'],
                                   'smokes' : ['no','no']}).set_index('name')

In [30]:
good_or_evil_train

             sex mask cape  tie ears smokes class
name
batman      male  yes  yes   no  yes     no  good
robin       male  yes  yes   no   no     no  good
alfred      male   no   no  yes   no     no  good
penguin     male   no   no  yes   no    yes   bad
catwoman  female  yes   no   no  yes     no   bad
joker       male   no   no   no   no     no   bad

In [31]:
good_or_evil_train

             sex mask cape  tie ears smokes class
name
batman      male  yes  yes   no  yes     no  good
robin       male  yes  yes   no   no     no  good
alfred      male   no   no  yes   no     no  good
penguin     male   no   no  yes   no    yes   bad
catwoman  female  yes   no   no  yes     no   bad
joker       male   no   no   no   no     no   bad

In [46]:
good_or_evil_train.to_csv('good_or_evil_train')
good_or_evil_test.to_csv('good_or_evil_test')

## Example: Good versus Evil

In [43]:
# load the data
train = pd.read_csv('good_or_evil_train', index_col='name')
train

             sex mask cape  tie ears smokes class
name
batman      male  yes  yes   no  yes     no  good
robin       male  yes  yes   no   no     no  good
alfred      male   no   no  yes   no     no  good
penguin     male   no   no  yes   no    yes   bad
catwoman  female  yes   no   no  yes     no   bad
joker       male   no   no   no   no     no   bad

In [45]:
test  = pd.read_csv('good_or_evil_test', index_col='name')
test

            sex mask cape tie ears smokes
name
batgirl  female  yes  yes  no  yes     no
riddler    male  yes   no  no   no     no